/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */

 body{
    margin:40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding:0 10px
 }

 h1,h2,h3 {line-height:1,2}

.carousel ul{ 
    width: 330px;
    transform: translateX();
}
.carousel li{
     height: 130px;
     width: 130px;
     display: inline-block
 }